/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --bg-color__dark: #000028;
  --text-color__dark: #F1B2CE;
  --color-title: #000028;
  --color-dark: #DB00FF;
}

.page .theme_dark {
  background-color: var(--bg-color, #000028);
  color: var(--text-color__dark, #F1B2CE);
  background-image: url(../images/cover-image-dark.png);
  --color__title: var(--color-dark, #DB00FF);
  --color__title-shadow: var(--accent-color, #FF0070);
}
