/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color__light: #FF8DCB;
  --bg-color__light: #FFF1F7;
  --text-color-light: #353430;
  --color-light: #FFC2E6;
  --text-color__light: #353430;
}

.page.theme_light {
  background-color: var(--bg-color__light, #FFF1F7);
  color: var(--text-color__light, #353430);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu-button {
  color: var(--text-color__light, #353430);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid #353430;
}

.theme_light .header__title {
    color: var(--color-light, #FFC2E6);
}

.theme_light .title-decor {
  background-color: var(--accent-color__light, #FF8DCB);
}

.theme_light .content__title {
  color: var(--text-color__light, #353430);
}

.theme_light .footer__title {
  color: var(--color-light, #FFC2E6);
}

.theme_light .border__decor::before {
  border: none;
}

.theme_light .border__decor-second::before {
  border: none;
}

.theme_light .decor__point::before {
  display: none;
}

.theme_light .decor__text::before {
  display: none;
}

.theme_light .border__dec::before {
  display: none;
}

.theme_light .border__dec-second::before {
  display: none;
}

@media (color-scheme: light) {
  :root {
    --accent-color__light: #FF8DCB;
    --bg-color__light: #FFF1F7;
    --text-color-light: #353430;
    --color-light: #FFC2E6;
    --text-color__light: #353430;
  }
}