.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  background-color: var(--bg-color-dark, #000028);
  font-size: 18px;
  font-family: var(--main-font-family, 'IBM Plex mono', sans-serif);
  color: var(--text-color__dark, #F1B2CE);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  margin-bottom: 46px;
  padding-right: 20px;
}

.content {
  padding: 0 20px;
}

.header__theme-menu {
  position: relative;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
  list-style: none;
  margin-left: 17px;
  padding-top: 20px;
}

.header__theme-menu-button {
  color: var( --accent-color, #FF0070);
  font-size: 18px;
  line-height: 18px;
  border: none;
  padding: 3px 13px;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid #FF0070;
}

.header__theme-menu-button:hover {
  text-decoration: underline;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid transparent;
}

.header__title {
  color: var(--color-dark, #DB00FF);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  line-height: 82.5%;
  justify-self: start;
}

.header__text {
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  inline-size: clamp(364px, calc(100%/2), 491px);
  margin-bottom: 39px;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--color-title, #000028);
  font-size: 18px;
}

.border__decor::before {
  content: '';
  position: absolute;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  top: 19px;
  right: 20px;
  width: 23px;
  height: 23px;
}

.border__decor-second::before {
  content: '';
  position: absolute;
  border-left: 1px solid #FF0070;
  border-bottom: 1px solid #FF0070;
  bottom: 33px;
  left: 20px;
  width: 23px;
  height: 23px;
}

.decor__point::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: #FF0070;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
  border-radius: 50%;
  top: 28px;
  right: 29px;
}

.decor__text::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color, #FF0070);
  top: 21px;
  right: 48px;
}

.concentrate {
  margin-bottom: 79px;
}

.content__concentrate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 20px;
}

.content__column {
  grid-column: 2/3;
}

.content__title {
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 19px;
}

.title {
  margin: 0;
}

.content__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-top: 11px;
}

.title-dec {
  text-shadow: 1px 2px 0 var(--accent-color, #FF0070);
  background: transparent;
  color: inherit;
  text-decoration: none;
}

.title-dec:focus {
  outline: none;
}

.title-dec:focus-visible {
  outline: 1px solid transparent;
}

.title-dec:hover {
  text-decoration-line: underline;
}

.attention {
  margin-bottom: 78px;
}

.content__attention {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.title__attention {
  margin-bottom: 0;
}

.concentration {
  margin-bottom: 80px;
}

.content__concentration {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 11px;
}

.concentration__text {
  margin: 0;
}

.content__subtitle {
  font-weight: 400;
  margin: 19px 0 11px;
}

.gallery {
  margin-bottom: 51px;
}

.content__gallery {
  margin-top: 19px;
  max-height: 1440px;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
     "item item item2"
     "item3 item4 item2"
     "item3 item5 item5";
}

.item-1 {
  grid-area: item;
  height: 100%;
}

.item-2 {
  grid-area: item2;
  height: 100%;
}

.item-3 {
  grid-area: item3;
  height: 100%;
}

.item-4 {
  grid-area: item4;
  height: 100%;
}

.item-5 {
  grid-area: item5;
  height: 100%;
}

.gallery__img {
  object-fit: cover;
  max-width: 100%;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--color-dark, #DB00FF);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  font-weight: 700;
}

.border__dec::before {
  content: '';
  position: absolute;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  top: 25px;
  right: 20px;
  width: 23px;
  height: 23px;
}

.border__dec-second::before {
  content: '';
  position: absolute;
  border-left: 1px solid #FF0070;
  border-bottom: 1px solid #FF0070;
  bottom: 29px;
  left: 20px;
  width: 23px;
  height: 23px;
}

@media screen and (max-width: 769px) {
  .header {
    align-items: end;
    margin-bottom: 67px;
    height: 130vh;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
 
  .header__text {
    align-self: center;
    margin-bottom: 10px;
  }

  .content__concentrate {
    column-gap: 20px;
  }

  .content__title {
    max-width: 230px;
  }

  .content__attention {
    row-gap: 20px;
    grid-template-columns: none;
  }

  .attention {
    margin-bottom: 77px;
  }

  .content__concentration {
    column-gap: 20px;
  }

  .concentration {
    margin-bottom: 76px;
  }

  .footer {
    height: 132vh;
  }
}

@media screen and (max-width: 460px) {
   .content {
    padding: 0 10px;
   }
   
   .header {
    
   }

   .header__theme-menu {

   }

  .header__title {
    font-size: clamp(7.25rem, 6.9465rem + 1.2951vw, 8.125rem);
  }
  
  .content__concentrate {
    row-gap: 20px;
    grid-template-columns: none;
  }
  
  .content__column {
    grid-column: auto;
  }

  .content__concentration {
    row-gap: 20px;
    grid-template-columns: none;
  }

  .content__gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}