.page {
  background-color: var(--bg-color__light, #FFF1F7);
  font-size: 18px;
  font-family: var(--main-font-family, 'IBM Plex mono', sans-serif);
  color: var(--text-color__light, #353430);
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 23.4px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  margin-bottom: 60px;
  margin-left: -20px;
}

.content {
  padding: 0 20px;
}

.header__theme-menu {
  position: relative;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
  list-style: none;
  margin-left: 17px;
  padding-top: 20px;
}

.header__theme-menu-button {
  color: var(--text-color__light, #353430);
  font-size: 18px;
  line-height: 18px;
  border: none;
  padding: 3px 13px;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid #353430;
  text-decoration: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__title {
  color: var(--color-light, #FFC2E6);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  line-height: 82.5%;
  justify-self: start;
}

.header__text {
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  inline-size: clamp(355px, calc(100%/2), 491px);
  margin-bottom: 20px;
}

.title-decor {
  background-color: var(--accent-color__light, #FF8DCB);
  color: var(--text-color__light, #353430);
  font-size: 18px;
}

.concentrate {
  margin-bottom: 80px;
}

.content__concentrate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 10px;
}

.content__column {
  grid-column: 2/3;
}

.content__title {
  color: var(--text-color__light, #353430);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 19px;
}

.title {
  margin: 0;
}

.content__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-top: 10px;
}

.title-dec {
  text-shadow: 1px 2px 0 var(--accent-color__light, #FF8DCB);
  background: transparent;
  color: inherit;
  text-decoration: none;
}

.title-dec:focus {
  outline: none;
}

.title-dec:focus-visible {
  outline: 1px solid #353430;
}

.title-dec:hover {
  border-bottom: 1px solid #353430;
}

.attention {
  margin-bottom: 80px;
}

.content__attention {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.title__attention {
  margin-bottom: 0;
}

.concentration {
  margin-bottom: 76px;
}

.content__concentration {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 11px;
  row-gap: 20px;
}

.concentration__text {
  margin-top: 0;
}

.subtitle {
  margin-bottom: 20px;
}

.content__subtitle {
  font-weight: 400;
  margin-bottom: 11px;
}  

.title-gallery {
  margin-bottom: 20px;
}

.gallery {
  margin-bottom: 59px;
}

.content__gallery {
  margin-top: 19px;
  max-height: 1440px;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
     "item item item2"
     "item3 item4 item2"
     "item3 item5 item5";
}

.item-1 {
  grid-area: item;
  height: 100%;
}

.item-2 {
  grid-area: item2;
  height: 100%;
}

.item-3 {
  grid-area: item3;
  height: 100%;
}

.item-4 {
  grid-area: item4;
  height: 100%;
}

.item-5 {
  grid-area: item5;
  height: 100%;
}

.gallery__img {
  object-fit: cover;
  max-width: 100%;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--color-light, #FFC2E6);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  font-weight: 700;
}

@media screen and (max-width: 769px) {
  .header {
    align-items: end;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
 
  .header__text {
    align-self: center;
    margin-bottom: 20px;
  }

  .content__concentrate {
    column-gap: 20px;
  }

  .content__title {
    max-width: 230px;
  }

  .content__text {
    margin-top: 10px;
  }

  .concentrate {
    margin-bottom: 80px;
  }

  .content__attention {
    row-gap: 20px;
    grid-template-columns: none;
  }

  .attention {
    margin-bottom: 80px;
  }

  .content__concentration {
    column-gap: 20px;
  }

  .concentration {
    margin-bottom: 83px;
  }

  .gallery {
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 460px) {
   .header {
     margin-bottom: 40px;
   }
   
   .header__theme-menu {
    margin-bottom: 14px;
   }

   .content {
    padding: 0 15px;
   }
   
  .header__title {
    font-size: clamp(7.25rem, 6.9465rem + 1.2951vw, 8.125rem);
    margin-left: 20px;
  }
  
  .content__title {
    max-width: fit-content;
    margin-bottom: 0;
  }

  .concentrate {
    margin-bottom: 50px;
  }

  .content__concentrate {
    row-gap: 20px;
    grid-template-columns: none;
  }
  
  .content__column {
    grid-column: auto;
  }

  .content__concentration {
    row-gap: 20px;
    grid-template-columns: none;
  }

  .attention {
    margin-bottom: 50px;
  }

  .concentration {
    margin-bottom: 50px;
  }

  .gallery {
    margin-bottom: 40px;
  }

  .content__gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .content {
    padding: 0 10px;
  }

  .header__title {
    margin-left: 20px;
  }

  .header__text {
    margin-bottom: 10px;
  }

  .content__attention {
    row-gap: 0;
  }

  .title__attention {
    margin-top: 20px;
  }

  .content__concentration {
    row-gap: 20px;
  }

  .concentration__text {
    margin-top: 8px;
    line-height: 23.4px;
  }

  .gallery {
    margin-bottom: 28px;
  }
}