/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: 'IBM Plex mono', monospace;
  --accent-color: #FF0070;
  --bg-color__dark: #000028;
  --text-color__dark: #F1B2CE;
  --color-title: #000028;
  --color-dark: #DB00FF;
  --color_border: rgba(255, 0, 112, 1);
}